<div id='overlay-copyright' class='overlay'>
<img src="/img/X icon.png" style="position: fixed; top: 20px; right: 20px;" onmouseover="this.src='/img/X icon_hover.png';this.style.cursor='pointer';" onmouseout="this.src='/img/X icon.png'" onclick="javascript:$('body > #overlay-copyright').hide();">
<div id="copyrightDetail" style="position: fixed; top: calc(20% - 38px); left: 0; right: 0;color:#FFFFFF;font:LatoWebThin;opacity: 0.85;">
<p style="font-size:20px;">Copyright Policy</p>
<div class="container"> <div class="row"> <div class="col-xs-12 col-sm-8 col-sm-offset-2" style="opacity:0.8;margin-top:10px;max-height: calc(80vh - 60px);text-align: left;background-color: rgba(34, 34, 34, 1);font-size:12px;overflow:auto;">
<p>Alphonso respects the intellectual property of others, and we expect our users to do the same. Alphonso may suspend and/or terminate the accounts of users who infringe the rights of others. If you believe that your copyrights or other intellectual property rights have been infringed by postings of others through the Alphonso website, you should provide Alphonso's copyright agent with the following information: </p>
<p>
&bull; an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright or other intellectual property interest;<br />
&bull; a description of the copyrighted work or other intellectual property that you claim has been infringed;<br />
&bull; a description of where the material that you claim is infringing is located on the site;<br />
&bull; your address, telephone number, and email address;<br />
&bull; a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law;<br />
&bull; a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright or intellectual property owner or authorized to act on the copyright or intellectual property owner's behalf.
</p>
<p>Alphonso's agent for notice of claims of copyright or other intellectual property infringement can be reached as follows:</p>
<p>By mail:<br />
Alphonso Inc.<br />
735 Industrial Rd, Suite 220<br />
San Carlos, CA 94070<br />
Attn: Copyright Designated Agent</p>
<p>By email:  info@alphonso.tv</p>
</div></div></div>
</div>
</div>