      <div id='overlay-lar' class='overlay'>
        <!-- http://stackoverflow.com/questions/18032220/css-change-image-src-on-imghover -->
        <img src="/img/X icon.png" style="position: fixed; top: 20px; right: 20px;" onmouseover="this.src='/img/X icon_hover.png';this.style.cursor='pointer';" onmouseout="this.src='/img/X icon.png'" onclick="javascript:$('body > #overlay-lar').hide();">
        <div id="lar-report" style="position: fixed;
                                    top: 20%;
                                    left: 0;
                                    right: 0;
                                    max-height: calc(80vh - 60px);
                                    overflow: auto;
                                    background: #F0F0F0;
                                    margin: 0px calc(50vw - 370px);
                                    padding: 20px 0 20px 20px;
                                    text-align: left;">
            <p id="rpt_name" style="font:24px LatoWebThin; font-weight: 600;">Ford TV Commercials Report</p>
            <div class="btn-group" id="container1" style="max-height: 250px; width: 450px;">
                <div class="middle-center"><i class="fa fa-bar-chart"></i><p><i style="font-size: 20px;" class="fa fa-circle-o-notch fa-spin fa-fw"></i> Loading Report...</p></div>
            </div>
            <div class="btn-group" id="container2" style="max-height: 250px; width: 250px;">
                <div class="middle-center"><i class="fa fa-pie-chart"></i><p><i style="font-size: 20px;" class="fa fa-circle-o-notch fa-spin fa-fw"></i> Loading Report...</p></div>
            </div>
            <p id="airing_dates" style="font:12px LatoWeb; margin: 0;">TV Flight Dates</p>
            <p id="visit_dates" style="font:12px LatoWeb; margin: 0;">Visitation between</p>
        </div>
      </div>