      <div id='overlay-highlight' style="position: fixed;
                                   top: 40px;
                                   left: 0;
                                   z-index: 999;
                                   text-align: center;
                                   width: 100%;
                                   transition: all 0.4s;">
      <div style="background-color: #FFFFFF;
                                   height: auto;
                                   border-radius: 4px;
                                   z-index: 1000;
                                   font:16px LatoWebHeavy;
                                   padding: 12px;" class="btn-group">
        <span style="color:#E01A22;">New!</span>
        <span style="color:#22222;"> Location Attribution is here!&emsp;&emsp;</span>
        <button type="button" onclick="window.location.href='/reports/?tp=t';" style="background-color: #FFFFFF;
                                                                                      border: 1px solid #E01A22;
                                                                                      font: 14px LatoWeb;
                                                                                      color: #E01A22;
                                                                                      min-height: 36px;
                                                                                      min-width: 100px;
                                                                                      padding-left: 16px;
                                                                                      padding-right: 16px;
                                                                                      outline: none !important;">Check it Out</button>
      </div></div>