      <div id='overlay-msg' style="position: fixed;
                                   top: 40%;
                                   left: 0;
                                   text-align: center;
                                   width: 100%;
                                   display: none;
                                   transition: all 0.4s;">
      <div style="background-color: #222222;
                                   height: auto;
                                   z-index: 1000;
                                   padding: 10px 20px;" class="btn-group middle-center">
        <p class="btn-group" style="color:#FFFFFF;font-family:LatoWebThin;font-size:14px;"></p>
      </div></div>