<div id='overlay-tnc' class='overlay'>
<img src="/img/X icon.png" style="position: fixed; top: 20px; right: 20px;" onmouseover="this.src='/img/X icon_hover.png';this.style.cursor='pointer';" onmouseout="this.src='/img/X icon.png'" onclick="javascript:$('body > #overlay-tnc').hide();">
<div id="tncDetail" style="position: fixed; top: calc(20% - 38px); left: 0; right: 0;color:#FFFFFF;font:LatoWebThin;opacity: 0.85;">
<p style="font-size:20px;">TERMS OF SERVICE (for insights.alphonso.tv)</p>
<div class="container"> <div class="row"> <div class="col-xs-12 col-sm-8 col-sm-offset-2" style="opacity:0.8;margin-top:10px;max-height: calc(80vh - 60px);text-align: left;background-color: rgba(34, 34, 34, 1);font-size:12px;overflow:auto;">
<p>
Alphonso Inc. (“Alphonso” “we,” “us,” or “our”) owns and operates the service and website located on the Internet at insights.alphonso.tv (collectively, the “Site”). The Site, together with the data collection, storage, analysis and reporting tools, functions and services that are provided at or by the Site are collectively referred to as the “Service.”
</p>
<p>
The Site and Service are offered and provided subject to acceptance without modification of all of the terms and conditions contained herein (the “Terms of Service”). The Terms of Service shall be deemed to include all other operating rules, conditions, policies and procedures that are referred to herein or that may otherwise be published by Alphonso, from time to time, at or through the Site (collectively, “Policies”), including without limitation, the Privacy Policy, which are incorporated by reference.
</p>
<p>
THESE TERMS OF SERVICE GOVERN THE TERMS BY WHICH YOU (IF REGISTERING AS AN INDIVIDUAL) OR THE ENTITY YOU REPRESENT (IF REGISTERING AS A BUSINESS) (“YOU” OR “YOUR”) MAY USE THE SERVICE. BY CREATING AN ACCOUNT WITH THE SERVICE, YOU AGREE TO THESE TERMS OF SERVICE. IF YOU DO NOT AGREE TO ALL OF THESE TERMS OF SERVICE, OR IF YOU ARE NOT ELIGIBLE OR AUTHORIZED TO ENTER INTO THESE TERMS OF SERVICE, THEN DO NOT USE OR REGISTER FOR THE SERVICE.  COMPLETING THE REGISTRATION PROCESS FOR THE SERVICE OR OTHERWISE ACCESSING OR USING ALL OR ANY PART OF THE SERVICE WILL CONSTITUTE ACCEPTANCE OF, AND CREATE A LEGALLY ENFORCEABLE CONTRACT UNDER WHICH YOU AGREE TO BE BOUND BY, THESE TERMS OF SERVICE.
</p>
<p>

THE SERVICE IS MADE AVAILABLE ON A SUBSCRIPTION BASIS. SUBSCRIPTIONS AUTOMATICALLY RENEW UNLESS YOU CANCEL YOUR ACCOUNT. YOU WILL BE CHARGED SUBSCRIPTION FEES PLUS APPLICABLE TAXES UNTIL YOUR SUBSCRIPTION IS CANCELED.  IF YOU HAVE PAID USING A CREDIT CARD, YOU CONSENT TO ALLOW ALPHONSO TO CHARGE YOUR CREDIT CARD, EITHER DIRECTLY OR THROUGH ITS PAYMENT PROCESSORS, FOR THE AMOUNTS DUE FOR YOUR INITIAL SUBSCRIPTION PERIOD AND FOR ADDITIONAL SUBSCRIPTION PERIODS UNTIL YOUR ACCOUNT IS CANCELED OR TERMINATED.
</p>
<p>

TO CANCEL YOUR SUBSCRIPTION TO PREVENT AUTOMATIC RENEWAL, YOU MUST SEND A CANCELLATION NOTICE BY EMAIL TO INFO@ALPHONSO.TV. CANCELLATION WILL BECOME EFFECTIVE AT THE END OF THE THEN-CURRENT SUBSCRIPTION PERIOD.
</p>
<p>

Eligibility
</p>
<p>

The Service is intended by Alphonso to be made available only to individuals who are at least 18 years old. If you do not qualify under these criteria, then you are prohibited from downloading materials from, accessing, using and registering for the Service. Alphonso will not collect personally identifiable information from any person who is actually known to us to be under the age of 13. If we become aware that a person under 13 has provided personally identifiable information, Alphonso will take steps to remove such information and terminate that individual’s Account and his or her access and use of the Service.
</p>
<p>

Alphonso may refuse to offer or continue offering the Service to any person and may change its eligibility criteria from time to time.
</p>
<p>

Registration
</p>
<p>

To ensure the integrity of the Service, you must complete an account registration process and provide Alphonso with current, complete and accurate information, as more specifically required by then current registration procedures.
</p>
<p>

By way of illustration and not limitation, you may be required to provide the following information during registration for the Service: username; password; legitimate e-mail address; demographic data; and certain preferences and permissions (such as, for example, preferred contact method). By identifying yourself through a social networking account, Alphonso may obtain additional information about your corresponding profile (to the extent permitted by the terms, conditions and functions of that social networking site). You are required to maintain and update your registration data from time to time, to ensure that it is always current, complete and accurate.
</p>
<p>

Alphonso may refuse to accept any user’s application to register for the Service, in its sole discretion. Upon acceptance, Alphonso will provide access credentials to you or otherwise enable your access to the Service through an establishment of an account with the Service (the “Account”). You are solely responsible for maintaining the confidentiality of your access credentials and other Account information, and you will be solely liable for any and all activities under your Account. You agree to notify Alphonso immediately of any unauthorized use of your Account or any other breach of security related to the Service. Accessing and using the Service is prohibited except when using your own credentials and account; you may not share access to your Account with any third party.  By registering an Account, you agree that Alphonso may contact you using the Account information provided by you during registration.
</p>
<p>

Free Trials
</p>
<p>

We may offer free trial Accounts during which time the Account can be used without charge (a ˝Free Trial˝). Alphonso reserves the right to limit the eligibility and duration for Free Trials in its sole discretion. 
</p>
<p>

Subscription Period and Subscription Fees
</p>
<p>

The subscription period is the period of time you’re authorized to use the Account, as identified through registration or other order process agreed upon between you and Alphonso (˝Subscription Period˝). 
</p>
<p>

Accounts (other than Free Trial Accounts) are subject to fees based upon the features and/or modules you've selected (˝Subscription Fees˝). You agree to pay all applicable Subscription Fees. If you set up an Account for a Free Trial but don't cancel it by the end of the Free Trial and you have provided payment information to Alphonso, Alphonso will charge your credit card the current Subscription Fees for the Account and features you've chosen, plus applicable taxes. For renewals, Alphonso will automatically charge your credit card the amount of the then-current fee for your type of account, plus applicable taxes. Alphonso reserves the right to charge value-added taxes, sales, or other taxes as it deems appropriate (other than taxes based on Alphonso’s net income), and reserves the right to change prices or institute new charges for access to or use of the Service at any time upon not less than thirty (30) days’ notice to you to the email address you provided Alphonso.  If you’re not willing to pay any price increase, you may cancel your account within such 30-day period prior to the price increase upon notice to Alphonso as provided in the “Renewals and Cancellations” section below.  Continued use of the Service or non-cancelation of your Account after such thirty 30-day period constitutes your acceptance of the prices as modified. All payments are non-refundable. To the extent that payment mechanisms are provided through third parties, you agree that Alphonso shall have no liability to you arising out of the acts or omissions of such third parties. 
</p>
<p>

BY CREATING AN ACCOUNT YOU CONSENT TO ALLOW ALPHONSO TO CHARGE YOUR CREDIT CARD, EITHER DIRECTLY OR THROUGH ITS PAYMENT PROCESSORS, FOR THE AMOUNTS DUE FOR YOUR INITIAL SUBSCRIPTION PERIOD AND FOR ADDITIONAL SUBSCRIPTION PERIODS UNTIL YOUR ACCOUNT IS CANCELED OR TERMINATED.
</p>
<p>

Renewals and Cancellations
</p>
<p>

Accounts subject to Subscription Fees shall automatically renew for the same Subscription Period unless you cancel the account by the end of the then-current Subscription Period. You can cancel your account at any time by contacting customer service. Cancellations initiated by you will be effective at the end of the then-current Subscription Period. Please note that after cancelation of your account either by you or us, you will not be able to use or access the Service, you will not be entitled to a refund of any fees that you've paid, and all unpaid amounts shall become immediately due and payable.  You acknowledge and agree that we may charge your credit card for such amounts upon cancelation. Cancelation of your Account automatically terminates your rights to use the Service.
</p>
<p>

TO CANCEL YOUR SUBSCRIPTION TO PREVENT AUTOMATIC RENEWAL, YOU MUST SEND A CANCELLATION NOTICE BY EMAIL TO INFO@ALPHONSO.TV. CANCELLATION WILL BECOME EFFECTIVE AT THE END OF THE THEN-CURRENT SUBSCRIPTION PERIOD.
</p>
<p>

Updates
</p>
<p>

Alphonso reserves the right, at its sole discretion, to update, modify or replace the Terms of Service (including any Policy), in whole or in part, at any time; provided, however, that the updated, modified or new Terms of Service become effective: (i) immediately, if you have a Free Trial Account, or upon renewal of your Subscription Period if you have a Paid Account. Alphonso will notify you of any material change to these Terms of Service in advance of the effective date of any change, provided that price changes shall be managed as provided in the section entitled “Subscription Period and Subscription Fees” (above). Change notices may be communicated by postings at or through the Site, e-mail or otherwise and you consent to receipt of such notice by such methods. You are responsible for periodically checking the Policies and other Terms of Service for changes. Continued access or use of the Service following any change to the Terms of Service constitutes your acceptance of those changes. The Terms of Service may not otherwise be amended, except by a written agreement executed by you and Alphonso.
</p>
<p>

Suspension & Termination
</p>
<p>

Alphonso may modify, suspend or terminate the Service (including without limitation, the Site), in whole or in part, at any time, provided that where Alphonso terminates the Service for convenience, as your sole remedy and Alphonso’s sole obligation Alphonso shall refund any Subscription Fees applicable to the remaining, unused portion of the Subscription Period.
If you elect to terminate your Account, you can follow the procedures set forth in the “Renewals and Cancelations” section above.
</p>
<p>

Upon any termination, all rights and obligations of the parties under these Terms of Service shall cease, except that the following shall survive expiration or termination of your Account or these Terms of Service: (a) payment obligations; (b) this sentence; (c) and the Sections entitled “Proprietary Rights,” “Feedback License,” “No Warranties,” “Limitation of Liability,” “Indemnification,” “Governing Law; Arbitration,” “Integration,” “General Provisions,” and “Copyright and Trademark Notices.”
</p>
<p>

Privacy
</p>
<p>

Alphonso’s current Privacy Policy is available at www.alphonso.tv/privacy.html.
</p>
<p>

The most current Privacy Policy will apply to any and all use of the Site, and other aspects of the Service. Alphonso will not intentionally edit, modify, delete or disclose the contents of your registration data or other User Data in connection with the Service unless: (a) authorized by you, (b) reasonably necessary for Alphonso (or its service providers) to operate the Service, (c) otherwise permitted under the Privacy Policy; (d) upon termination or cancelation of your Account, or (e) Alphonso reasonably believes that such action is necessary to conform or comply with any legal, regulatory, law enforcement or similar requirement or investigation, to protect or defend the rights or property of Alphonso or any third party or to enforce the Terms of Service.
</p>
<p>

Alphonso will use your social networking account information only for the purpose of providing the Service and other purposes permitted by the applicable social network site, but will not otherwise attempt to obtain additional information from (or post information using) such accounts.
</p>
<p>

Usage Restrictions
</p>
<p>

You agree: (a) not to use the Service for any illegal purpose; (b) not to resell Accounts or Account access; (c) to comply with all Policies of Alphonso as communicated to you from time to time; (d) not to use the Service to infringe any third party's copyright, patent, trademark, trade secret or other proprietary rights or rights of publicity or privacy, or to otherwise violate any applicable law; (e) not to create Accounts by any automated means or under false or misleading pretenses, including by the use of a false, misleading or disguised e-mail address; (f) to not harvest, scrape or collect any information from the Service or Reports;  and (g) to keep your account information current, complete, and accurate. Alphonso reserves the right in its sole discretion to take any action that it deems necessary if you violate these Terms of Service, including suspension or termination of your Account. Alphonso reserves the right to take any action with respect to the Service that Alphonso deems necessary or appropriate in its sole discretion, if Alphonso believes you or your actions may create liability for Alphonso, compromise or disrupt the Service for you or other customers, or violate these Terms of Service.
</p>
<p>

Reports
</p>
<p>

Among other things, the Service enables you to view and generate reports regarding advertising data presented through the Service (“Reports”).  Reports and all data made available through Reports and the Service are the confidential and proprietary information of Alphonso.  Alphonso grants you the right, during the Subscription Period, to view and use Reports solely for your internal business purposes and for no other purpose. You may not disclose the Reports or any data made available through Reports to third parties without the express, advance written consent of Alphonso in each instance.  
</p>
<p>

Proprietary Rights
</p>
<p>

The Service and all content, materials, Reports, data and other information made available via the Service (collectively, “Content”), are protected by copyrights, trademarks, service marks, patents, trade secrets or other proprietary rights and laws, and Alphonso (or its applicable affiliates, licensors and suppliers) shall own and retain all rights, title and interests (including all intellectual property and proprietary rights) in and to the Service and Content. Unless and only to the extent expressly authorized by Alphonso, you agree not to sell, license, rent, modify, distribute, copy, reproduce, transmit, publicly display, publicly perform, publish, adapt, edit or create derivative works of any part of the Service or Content. Your systematic retrieval of data or other Content from the Service to create or compile, directly or indirectly, a collection, database or directory is strictly prohibited without Alphonso’s express prior written permission.
</p>
<p>

Reproducing, copying or distributing any Content, or any design elements from the Site or Service is strictly prohibited without Alphonso’s express prior written permission. Attempting to access or use the Service or Content for any purpose not expressly permitted in the Terms of Service is prohibited.
</p>
<p>

You shall not: (a) use any part of the Site, Service or Content to create any software, platform or service that is similar to the Service, (b) disassemble, decompile, reverse engineer or use any other means to attempt to discover any source code or underlying organization, structures, ideas or algorithms of the Site, Service or Content (except and only to the extent these restrictions are expressly prohibited by applicable statutory law); (c) encumber, sublicense, distribute, transfer, rent, lease, lend access to or use the Site, Service, or Content; or (d) copy, adapt, combine, create derivatives works of, translate, localize, port or otherwise modify the Site, Service or Content.
</p>
<p>

Feedback License.
</p>
<p>

If you provide any idea, recommendation or other suggestion regarding possible corrections, improvements or extensions related to any aspect of the Service (collectively, “Feedback”) to Alphonso in any form or by any means (whether through the Service, or by direct communication (e.g., e-mail) with Alphonso or any of its officers, directors, employees, representatives, agents or Business Partners), then you:
</p>
<p>

&bull; represent and warrant that the Feedback does not include your own or any third party's confidential or proprietary information; and
&bull; acknowledge and agree that Alphonso is under no obligation of confidentiality, express or implied, with respect to the Feedback; and
&bull; agree to grant and do hereby grant to Alphonso and its affiliates, licensees, successors and assigns a non-exclusive, transferable, perpetual, irrevocable, royalty-free, worldwide right and license to use, modify and make derivative works of the Feedback, in any manner and for any purpose, and to permit third parties to do the same.
</p>
<p>

No Warranties
</p>
<p>

THE SITE, SERVICE CONTENT AND ALL OTHER ASPECTS OF THE SERVICE ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, ALL IMPLIED WARRANTIES OF ACCURACY, INTEGRATION, TITLE, NON-INFRINGEMENT, QUIET ENJOYMENT, MERCHANTABILITY, NON-INFRINGEMENT, AND FITNESS FOR A PARTICULAR PURPOSE, AND ALL WARRANTIES IMPLIED BY ANY COURSE OF PERFORMANCE OR USAGE OF TRADE, ALL OF WHICH ARE HEREBY EXPRESSLY DISCLAIMED. ALPHONSO AND ITS AFFILIATES, LICENSORS AND SUPPLIERS DO NOT WARRANT THAT: (A) ANY INFORMATION OR CONTENT MADE AVAILABLE TO YOU WILL BE TIMELY, ACCURATE, RELIABLE OR CORRECT; (B) THE SERVICE WILL BE SECURE OR AVAILABLE AT ANY PARTICULAR TIME OR PLACE; (C) ANY DEFECTS OR ERRORS WILL BE CORRECTED; (D) THAT THE SERVICE WILL BE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; OR (E) ANY RESULT OR OUTCOME CAN BE ACHIEVED. USE OF THE SERVICE IS SOLELY AT YOUR OWN RISK. YOU EXPRESSLY AGREE THAT ALPHONSO SHALL NOT HAVE ANY LIABILITY TO YOU FOR ANY CONTENT OR YOUR USE OF CONTENT MADE AVAILABLE TO THROUGH THE SERVICE.
</p>
<p>

Limitation of Liability
</p>
<p>

You agree that Alphonso shall not be responsible or liable for any unauthorized access to, alteration or use of your account, transmissions or data, or for any material or data sent or received or not sent or received through the Service. You agree that Alphonso is not responsible or liable for any threatening, defamatory, obscene, offensive, illegal or other content or conduct of any third party or any third party’s infringement of another’s rights, including intellectual property rights, rights of publicity or privacy rights, including but not limited to any violation of law or third party rights by the Content.
</p>
<p>

IN NO EVENT SHALL ALPHONSO (OR ITS AFFILIATES, LICENSORS AND BUSINESS PARTNERS) BE LIABLE CONCERNING ANY SUBJECT MATTER RELATED TO THE SITE, SERVICE, CONTENT OR OTHER ASPECTS OF THE SERVICE, REGARDLESS OF THE FORM OF ANY CLAIM OR ACTION (WHETHER IN CONTRACT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE), FOR ANY (A) MATTER BEYOND ITS DIRECT CONTROL, (B) LOSS OR INACCURACY OF DATA, LOSS OR INTERRUPTION OF USE, DATA, OR COST OF PROCURING SUBSTITUTE TECHNOLOGIES, GOODS OR SERVICES, (C) INDIRECT, PUNITIVE, INCIDENTAL, RELIANCE, SPECIAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES INCLUDING, BUT NOT LIMITED TO, LOSS OF BUSINESS, REVENUES, PROFITS OR GOODWILL, OR (D) DAMAGES, IN THE AGGREGATE, IN EXCESS OF AMOUNTS YOU PAID TO ALPHONSO FOR THE SERVICE (TO THE EXTENT ACTUALLY RETAINED BY ALPHONSO) DURING THE PREVIOUS 12-MONTH PERIOD, OR US$100.00, WHICHEVER IS GREATER, EVEN IF ALPHONSO HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IN ADDITION, IF YOU HAVE A FREE TRIAL ACCOUNT, YOU AGREE THAT ALPHONSO SHALL NOT HAVE ANY LIABILITY TO YOU FOR ANY DIRECT DAMAGES AS WELL.  THESE LIMITATIONS ARE INDEPENDENT FROM ALL OTHER PROVISIONS OF THESE TERMS OF SERVICE AND SHALL APPLY NOTWITHSTANDING THE FAILURE OF ANY REMEDY PROVIDED HEREIN.
</p>
<p>

SOME STATES AND OTHER JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU.
</p>
<p>

Indemnification
</p>
<p>

You agree to indemnify, defend and hold harmless Alphonso, its affiliates and assigns, and their respective officers, directors, employees, contractors, representatives, successors and assigns from and against any and all claims, liabilities, penalties, losses, expenses, damages, and costs, including but not limited to reasonable attorneys' fees, arising out your use of the Site, Service and Content, including but not limited to: (a) a violation or breach of  these Terms of Service by you, or (b) any activity related to access or use of your Account (including but not limited to negligent or wrongful conduct) by you or any other person accessing or using your Account.  In addition, Alphonso reserves the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will be solely responsible for the costs and expenses thereof and assist and cooperate with Alphonso in asserting any available defenses at your own expense.
</p>
<p>

International Use
</p>
<p>

You hereby expressly consent to the transmission, collection, storage, processing and use of User data (including personal information) from and to the United States, in addition to the country where you are located (if not the United States). Alphonso makes no representation that the Service is accessible, appropriate or legally available for use in locations outside the United States, and accessing and using the Service is prohibited from territories where doing so would be illegal. If you access or use the Service from other locations, then you do so at your own initiative and are responsible for compliance with local laws.
</p>
<p>

Governing Law; Arbitration
</p>
<p>

A printed version of the Terms of Service and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to the Terms of Service (including any Policy) to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form. You and Alphonso agree that any claim or cause of action arising out of or related to the Service must be commenced within 1 year after the claim or cause of action arose. Otherwise, such claim or cause of action is permanently barred.
</p>
<p>

The Terms of Service shall be governed by and construed in accordance with the laws of the State of California, excluding its conflicts of law rules, and the United States of America. In the event of any conflict between United States and foreign laws, regulations and rules, United States laws, regulations and rules shall govern. The United Nations Convention on Contracts for the International Sale of Goods and the Uniform Computer Information Transactions Act shall not apply to the Terms of Service.
</p>
<p>

All disputes between the parties arising out of or in relation to or in connection with the Terms of Service shall be settled by binding arbitration in accordance with the JAMS streamlined arbitration rules and procedures then in force, by one neutral arbitrator appointed in accordance with the rules, except that either party may seek an injunction or other equitable relief from any court of competent jurisdiction,. The arbitration shall take place in San Mateo County, California, USA. The proceedings shall be in English, all evidence shall be in English (or translated into English) and the governing law shall be as set forth herein. The arbitrator's decision shall be in writing and shall comply with all terms and conditions in the then current Terms of Service. The decision and award rendered shall be final and binding on both parties. The parties acknowledge and agree that the Terms of Service and any award rendered pursuant hereto shall be governed by the UN Convention on the Recognition and Enforcement of Foreign Arbitral Awards. Judgment on the award may be entered in any court of competent jurisdiction.
</p>
<p>

Use of the Service is not authorized in any jurisdiction that does not give effect to all provisions of the Terms of Service, including without limitation, this section.
</p>
<p>

Integration
</p>
<p>

These Terms of Service (including the then current Policies) are the entire agreement between you and Alphonso with respect to access, use and operation of the Site, Service, and Content and supersede all prior or contemporaneous communications, proposals and agreements (whether oral, written or electronic) between you and Alphonso with respect to the same. If any provision of the Terms of Service is found to be unenforceable or invalid, that provision will be limited or eliminated to the minimum extent necessary so that the Terms of Service will otherwise remain in full force and effect and enforceable.
</p>
<p>

General Provisions
</p>
<p>

Your rights and obligations under the Terms of Service are personal to you, and are not assignable, transferable or sublicensable by you except with Alphonso’s prior written consent. Alphonso may subcontract, delegate, assign or otherwise transfer any or all of its rights and obligations hereunder without your consent. All waivers, consents and modifications must be in a writing signed by both parties, except as otherwise provided herein. No agency, partnership, joint venture, or employment relationship is created as a result of the Service or Terms of Service, and neither party has any authority of any kind to bind the other in any respect. All notices under these Terms of Service will be in writing, in English and will be deemed to have been duly given: when received, if personally delivered or sent by certified or registered mail or express courier, return receipt requested; or when receipt is electronically confirmed, if transmitted by facsimile or e-mail.
</p>
<p>

Copyright and Trademark Notices
</p>
<p>

The Terms of Service, Site, and all Content provided by Alphonso are copyright © 2016  Alphonso Inc. and/or its licensors or suppliers.
</p>
<p>

ALPHONSO is the trademark of Alphonso. The names and logos of companies, products or services mentioned at or in the Site, Service or Content may be the trademarks or service marks of their respective owners, and shall not be deemed to create any endorsement or association between Alphonso and such owners.
</p>
<p>

All rights not expressly granted herein are reserved.
</p>
<p>

If you have any questions regarding these Terms of Service or your dealings with the Service, please contact us at:
</p>
<p>

     Alphonso Inc. <br />
     Attn: Terms of Service <br /> 
     735 Industrial Rd, Suite 220 <br />
     San Carlos, CA 94070 USA <br />
     E-mail: info@alphonso.tv <br />
</p>
<p>

© 2016 Alphonso Inc.
</p>
</div></div></div>
</div>
</div>